:root{
    --button-bg: #333;
    --button-border: black;
    --button-text: white;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Add a black background color to the top navigation */
body {
    margin: 0;
    padding: 0;
}

#app{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

html{
	height: 100%;
}

body{
	height: 100%;
}

button{
    border: 1px solid var(--button-border);
    padding: 8px;
    background: var(--button-bg);
    color: var(--button-text);
    font-weight: bold;
    cursor: pointer;
}